.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.loader-container p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}
.icon-white {
  color: white;
}

.icon-red {
  color: red;
}
