
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card" *ngIf="apiData; else loadingTemplate">
      <div class="card-body">
        <h6 class="card-title">{{ data?.title || '.' }}</h6>
        <div class="table-responsive">
          <ngx-datatable
            class="bootstrap"
            [rows]="apiData | getTableData: [data.type]"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force" 
            [footerHeight]="50"
            [limit]="10"
            rowHeight="auto"
          >
            <ngx-datatable-column *ngFor="let name of data.columns" name="{{name}}">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column *ngIf="data?.actions" name="actions">
              <ng-template ngx-datatable-cell-template let-row="row">
                <!-- <button type="button" class="btn btn-icon" (click)="postAction('view', row)" data-bs-toggle="tooltip" data-bs-placement="top" title="View"> -->
                  <i >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                  </i>
                <!-- </button> -->
                <!-- <button type="button" class="btn btn-icon" (click)="postAction('edit',row)" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                  <i >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                  </i>
                </button>
                <button type="button" class="btn btn-icon" (click)="postAction('delete', row)" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                  <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                  </i>
                </button> -->
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <p>Loading...</p>
</ng-template>


<ng-template #loadingTemplate>
  <div >
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    <p>Loading data, please wait...</p>
  </div>
</ng-template>
